.github img {
    width: 400px;
    height: 200px;
}
.github td {
    background-color: transparent;
}
a[href] img, img[href] {
    border: 1px grey solid;
    padding: 3px;
    transition-duration: 0.5s;
}
a[href] img:hover, img[href]:hover {
    box-shadow: white 0px 0px 3px 3px;
    opacity: 0.5;
    transition-duration: 0.5s;
}
a {
    text-decoration: none;
    font-weight: normal;
}
td {
    padding: 5px;
    border: 5px transparent solid;
    text-align: center;
}
td:not(:last-child) {
    border-right: solid orange 1px;
}
table {
    width:100%;
}
td {
    background-color: transparent;
}
.shadertoy img {
    width: 320px;
    height: 180px;
    margin-right: 10px;
}
.shadertoy td {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.shadertoy span[title] {
    color: grey;
}
/*button,#khan-projects-link,.khan a {*/
.highlighters,.github a {
    border: none;
    color:grey;
    background-color: transparent;
    margin-right:5px;
    padding: 3px;
    transition-duration: 0.5s;
}
.highlighters:hover,.github a:hover {
/*button:hover,#khan-projects-link:hover,.khan a:hover {*/
    cursor: pointer;
    color: white;
    transition-duration: 0.5s;
}
.loader {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.views {
    color: lightblue;
}
.likes {
    color: red;
    font-weight: bold;
}
body {
    font-family: sans-serif;
    background-color: black;
    color: grey;
}
#head-banner {
    background-color: rgb(20, 0, 0);
    width:100%;
    margin:0%;
}
h2,h3,h4,h5,h6 {
    border-bottom: lightgrey solid 1px;
    width:50%;
}
h1 {
    border-bottom: solid lightgrey 3px;
    width:100%;
}